<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Personal portfolio website design</title>
	<!---custom css link--->
	<link rel="stylesheet" type="text/css" href="static_files/css/style.css">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<title>Works</title>
	<!---custom css link--->
	<link rel="stylesheet" type="text/css" href="static_files/css/style.css">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body>
  <header>
		<a href="index.html" style="color: rgb(0, 0, 0);"><h2>Gesture</h2></a>
		<div class="bx bx-menu" id="menu-icon"></div>
		<ul class="navbar">
			<li><a href="/">Home</a></li>
            <li><a href="/intro">Introduction</a></li>
			<li><a href="/image1">Launch</a></li>
		</ul>
	</header>
    <section class="about" id="about">
		<div class="about-img">
			<style>
			.about{
				background-image: url("https://i.pinimg.com/originals/b2/1d/c6/b21dc69346915015bc4e19bd502f401b.gif");
				background-size: 90%;
				background-position-y: 30%;
				background-position-x: -165%;
				
			}
		    </style>
		
		</div>

		<div class="about-text">
			<h2>Introduction</h2>
			<h4> Hand Gesture recognition system= provides us= an innovative, natural, user friendly way of interaction with the computer which is more familiar to the human beings. In our project, the hand region is extracted from the background by using
			  Region of intrest. Then, we will be predicting the labels based on the CNN trained model weights of hand gestures using that predicted labels
			  we apply if conditions to control some of the actions like :</h4>
	
			<div class="about-gri">
				<div class="about-in">
					<h5>1. Reshaping</h5>
				</div>

				<div class="about-in">
					<h5>2. Blur</h5>
				</div>

				<div class="about-in">
					<h5>3. Flip</h5>
				</div>

			</div>
			<a href="/image1" class="btn">Explore</a>
		</div>
	</section>
    <div class="last-text">
		<p>Developed with Team(PNT2022TMID48800) © 2022</p>
	</div>

	<!---scroll-top--->
	<a href="#" class="top"><i class='bx bx-up-arrow-alt' ></i></a>

	<script src="https://unpkg.com/scrollreveal"></script>

	<!---custom js link--->
	<script type="text/javascript" src="js/script.js"></script>

</body>
</html>